* {
  margin: 0;
  padding: 0;
}

.nav {
  width: 700px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0.3;
  transition: opacity 0.5s;
}

.nav:hover {
  opacity: 1;
}

.clr {
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 50%;
  border: 3px solid rgb(214, 214, 214);
  transition: transform 0.5s;
}

.clr:hover {
  transform: scale(1.2);
}

.clr:nth-child(1) {
  background-color: #000;
}

.clr:nth-child(2) {
  background-color: #808080;
}

.clr:nth-child(3) {
  background-color: #c0c0c0;
}

.clr:nth-child(4) {
  background-color: #ffffff;
}

.clr:nth-child(5) {
  background-color: #800000;
}

.clr:nth-child(6) {
  background-color: #ff0000;
}

.clr:nth-child(7) {
  background-color: #800080;
}

.clr:nth-child(8) {
  background-color: #ff00ff;
}

.clr:nth-child(9) {
  background-color: #008000;
}

.clr:nth-child(10) {
  background-color: #00ff00;
}

.clr:nth-child(11) {
  background-color: #808000;
}

.clr:nth-child(12) {
  background-color: #ffff00;
}

.clr:nth-child(13) {
  background-color: #000080;
}

.clr:nth-child(14) {
  background-color: #0000ff;
}

.clr:nth-child(15) {
  background-color: #008080;
}

.clr:nth-child(16) {
  background-color: #0000ff;
}

.clr:nth-child(17) {
  background-color: #ffa500;
}

button {
  border: none;
  outline: none;
  padding: 0.6em 1em;
  border-radius: 3px;
  background-color: #03bb56;
  color: #fff;
}

.save {
  background-color: #0f65d4;
}
